{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-lightOrange">
    <div class="container mx-auto py-12">
        <h1 class="text-4xl font-bold text-center mb-8">REGISTER AS</h1>
        <div class="grid grid-cols-2 gap-8">
            <div class="relative bg-white rounded-lg overflow-hidden shadow-md">
                <a href="{% url 'Authentication:register-label' %}">
                    <img src="https://cdn.discordapp.com/attachments/1020337769505116261/1235553802866790431/60e8cc52-96bf-46e7-884f-1b3b6eb6da0a.jpg?ex=6634caa6&is=66337926&hm=22268cbf3be77a2b00feb410e760e09dbc88ab113de37c2736cad3dbb940ac00&" alt="Image 1" class="w-full h-120 object-cover">
                    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-center text-white text-xl font-bold bg-black bg-opacity-50">
                        LABEL
                    </div>
                </a>
            </div>
            <div class="relative bg-white rounded-lg overflow-hidden shadow-md">
                <a href="{% url 'Authentication:register-user' %}">
                    <img src="https://cdn.discordapp.com/attachments/1020337769505116261/1235553803210719353/9895b256-e5d4-4d70-9812-656529dcb616.jpg?ex=6634caa6&is=66337926&hm=edbd68a5be6de312656432872e5aed1159927c049065603deda4e979d084ed76&" alt="Image 2" class="w-full h-120 object-cover">
                    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-center text-white text-xl font-bold bg-black bg-opacity-50">
                        USER
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}