{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- All the above is necessary for Bootstrap to function in this snippet -->
        <title>List of Podcast</title>
        <style>
            
            body {
                font-family: Arial, sans-serif;
                background-color: #09173E; /* Add this line */
            }

            header {
                background-color: #AF8C90;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                align-items: center;
            }
            .header-left {
                display: flex;
                align-items: center;
            }
            .header-left img {
                margin-right: 20px;
            }
            .header-right img {
                width: 100%;
                float: right;
            }
            

        </style>
</head>
    <body>
        
        <header>
            <div class="header-left">
                <a href="javascript:history.back()" id="back-button">
                    <img src="{% static 'back.svg' %}" alt="Back Button">
                </a>
                <div class="center-content" style="color: #09173E;">
                    <h1>YOUR Podcast!</h1>
                    <h2><b>Podcast 1<b></h2>   
                </div>
            </div>
            <div class="header-right">
                <img src="{% static 'coverlist.svg' %}" alt="Daily Cover" style="width: 100%; border-radius: 10%;">
            </div>
        </header>
        <div class="container" style="margin-top: 1cm;">
            <h2 class="podcast-title" style="color:#FCF4E1;">Podcast's Episodes</h2>
            <div class="row">
            <!-- Card 1 -->
                <div class="col-sm-12 mb-3">
                    <div class="card" style="background-color: #FDF1DA; border-radius: 15px; height: 200px;">
                        <div class="card-body d-flex align-items-center" style="font-size: 1.5em; color:#FCF4E1;"> <!-- Reduce the font size -->
                            <div class="row w-100"> <!-- Add w-100 to make the row take the full width of the card-body -->
                                <div class="col-4">
                                    <img class="card-img-top" src="{% static 'eps1.svg' %}" alt="Daily Top" style="width: 50%; margin: auto;"> <!-- Reduce the image size -->
                                </div>
                                <div class="col-8"> 
                                    <p class="card-text" style="color: #09173E;"><b>Title 1</b></p>
                                    <h5 class="card-title" style="color: #09173E;" >Lorem ipsum .....</h5>                                    
                                    <p><small class="text-muted">20 min. | 18 March 2024</small></p>
                                    <div class="text-right">
                                        <button type="button" style="background-color: transparent; border: none;">
                                            <img src="{% static 'delete.svg' %}" alt="Delete">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Card 2 -->
            <div class="col-sm-12 mb-3">
                <div class="card" style="background-color: #FDF1DA; border-radius: 15px; height: 200px;">
                    <div class="card-body d-flex align-items-center" style="font-size: 1.5em; color:#FCF4E1;"> <!-- Reduce the font size -->
                        <div class="row w-100"> <!-- Add w-100 to make the row take the full width of the card-body -->
                            <div class="col-4">
                                <img class="card-img-top" src="{% static 'eps2.svg' %}" alt="Daily Top" style="width: 50%; margin: auto;"> <!-- Reduce the image size -->
                            </div>
                            <div class="col-8"> 
                                <p class="card-text" style="color: #09173E;"><b>Title 2</b></p>
                                <h5 class="card-title" style="color: #09173E;" >Lorem ipsum .....</h5>                                    
                                <p><small class="text-muted">15 min. | 18 March 2024</small></p>
                                <div class="text-right">
                                    <button type="button" style="background-color: transparent; border: none;">
                                        <img src="{% static 'delete.svg' %}" alt="Delete">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Card 3 -->
            <div class="col-sm-12 mb-3">
                <div class="card" style="background-color: #FDF1DA; border-radius: 15px; height: 200px;">
                    <div class="card-body d-flex align-items-center" style="font-size: 1.5em; color:#FCF4E1;"> <!-- Reduce the font size -->
                        <div class="row w-100"> <!-- Add w-100 to make the row take the full width of the card-body -->
                            <div class="col-4">
                                <img class="card-img-top" src="{% static 'eps3.svg' %}" alt="Daily Top" style="width: 50%; margin: auto;"> <!-- Reduce the image size -->
                            </div>
                            <div class="col-8"> 
                                <p class="card-text" style="color: #09173E;"><b>Title 3</b></p>
                                <h5 class="card-title" style="color: #09173E;" >Lorem ipsum .....</h5>                                    
                                <p><small class="text-muted">30 min. | 18 March 2024</small></p>
                                <div class="text-right">
                                    <button type="button" style="background-color: transparent; border: none;">
                                        <img src="{% static 'delete.svg' %}" alt="Delete">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                           
            </div>
        </div>
        
    </body>
    </html>