{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- All the above is necessary for Bootstrap to function in this snippet -->
        <title>Monthly Top Twenty</title>
        <style>
            
            body {
                font-family: Arial, sans-serif;
                background-color: #FDF2E0; /* Add this line */
            }

            header {
                background-color: #6D7DB0;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                align-items: center;
            }
            .header-left {
                display: flex;
                align-items: center;
            }
            .header-left img {
                margin-right: 20px;
            }
            .header-right img {
                width: 100%;
                float: right;
            }
            

        </style>
</head>
    <body>
        
        <header>
            <div class="header-left">
                <a href="javascript:history.back()" id="back-button">
                    <img src="{% static 'back.svg' %}" alt="Back Button">
                </a>
                <div class="center-content" style="color: #FCF4E1;">
                    <h1>Monthly Top 20</h1>
                    <h2>The month’s biggest tunes, all for you!</h2>   
                </div>
            </div>
            <div class="header-right">
                <img src="{% static 'mt20.svg' %}" alt="Monthly Cover" style="width: 100%; border-radius: 10%;">
            </div>
        </header>
        <div class="container" style="margin-top: 0.5cm;">
            <div class="row">
            <!-- Card 1 -->
                <div class="col-sm-12 mb-3">
                    <div class="card" style="background-color: #09173E; border-radius: 15px; height: 200px;">
                        <div class="card-body d-flex align-items-center" style="font-size: 1.5em; color:#FCF4E1;"> <!-- Reduce the font size -->
                            <div class="row w-100"> <!-- Add w-100 to make the row take the full width of the card-body -->
                                <div class="col-4">
                                    <img class="card-img-top" src="{% static 'top1.svg' %}" alt="Daily Top" style="width: 50%; margin: auto;"> <!-- Reduce the image size -->
                                </div>
                                <div class="col-8"> 
                                    <h5 class="card-title">by Taylor Swift</h5>
                                    <p class="card-text"><b>Paper Rings</b></p>
                                    <p><small class="text-muted">2100 play | 18 March 2024</small></p>
                                    <div class="text-right">
                                        <a href="songpage"> <!-- Set href to the desired page -->
                                            <img src="{% static 'viewsong.svg' %}" alt="View Song" style="width: 17%;"> <!-- Reduce the image size -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-sm-12 mb-3">
                    <div class="card" style="background-color: #09173E; border-radius: 15px; height: 200px;">
                        <div class="card-body d-flex align-items-center" style="font-size: 1.5em; color:#FCF4E1;"> <!-- Reduce the font size -->
                            <div class="row w-100"> <!-- Add w-100 to make the row take the full width of the card-body -->
                                <div class="col-4">
                                    <img class="card-img-top" src="{% static 'top2.svg' %}" alt="Daily Top" style="width: 50%; margin: auto;"> <!-- Reduce the image size -->
                                </div>
                                <div class="col-8"> 
                                    <h5 class="card-title">by Taylor Swift</h5>
                                    <p class="card-text"><b>All to Well</b></p>
                                    <p><small class="text-muted">2000 play | 10 March 2024</small></p>
                                    <div class="text-right">
                                        <a href="songpage"> <!-- Set href to the desired page -->
                                            <img src="{% static 'viewsong.svg' %}" alt="View Song" style="width: 17%;"> <!-- Reduce the image size -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-sm-12 mb-3">
                    <div class="card" style="background-color: #09173E; border-radius: 15px; height: 200px;">
                        <div class="card-body d-flex align-items-center" style="font-size: 1.5em; color:#FCF4E1;"> <!-- Reduce the font size -->
                            <div class="row w-100"> <!-- Add w-100 to make the row take the full width of the card-body -->
                                <div class="col-4">
                                    <img class="card-img-top" src="{% static 'top3.svg' %}" alt="Daily Top" style="width: 50%; margin: auto;"> <!-- Reduce the image size -->
                                </div>
                                <div class="col-8"> 
                                    <h5 class="card-title">by Taylor Swift</h5>
                                    <p class="card-text"><b>Dress</b></p>
                                    <p><small class="text-muted">1900 play | 18 Februari 2024</small></p>
                                    <div class="text-right">
                                        <a href="songpage"> <!-- Set href to the desired page -->
                                            <img src="{% static 'viewsong.svg' %}" alt="View Song" style="width: 17%;"> <!-- Reduce the image size -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                           
            </div>
        </div>
        
    </body>
    </html>