{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Song</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="background-image: url('https://i.ibb.co.com/kmFyJGY/background1.jpg'); background-size: cover; background-position: center;">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-center text-lightOrange mb-4">SONG DETAILS</h1>
        <div class="bg-peach rounded-lg shadow-md p-4 mb-4">
            <p class="font-bold text-oxfordBlue">Judul: <span class="text-spaceCadet">{{detail.judul}}</span></p>
            <p class="font-bold text-oxfordBlue">Genre(s):</p>
            <ul class="list-disc pl-5">
                {% for genre in detail.genres %}
                    <li class="text-spaceCadet">{{genre.genre}}</li>
                {% endfor %}
            </ul>
            <p class="font-bold text-oxfordBlue">Artist: <span class="text-spaceCadet">{{detail.artist}}</span></p>
            <p class="font-bold text-oxfordBlue">Songwriter(s):</p>
            <ul class="list-disc pl-5">
                {% for songwriter in detail.songwriters %}
                    <li class="text-spaceCadet">{{songwriter.songwriter}}</li>
                {% endfor %}
            </ul>
            <p class="font-bold text-oxfordBlue">Durasi: <span class="text-spaceCadet">{{detail.durasi}}</span></p>
            <p class="font-bold text-oxfordBlue">Tanggal Rilis: <span class="text-spaceCadet">{{detail.tanggal_rilis}}</span></p>
            <p class="font-bold text-oxfordBlue">Tahun: <span class="text-spaceCadet">{{detail_tahun}}</span></p>
            <p class="font-bold text-oxfordBlue">Total Play: <span class="text-spaceCadet">{{detail.total_play}}</span></p>
            <p class="font-bold text-oxfordBlue">Total Downloads: <span class="text-spaceCadet">{{detail.total_download}}</span></p>
            <p class="font-bold text-oxfordBlue">Album: <span class="text-spaceCadet">Album1</span></p>
        </div>
        
        <!-- Slider -->
        <div class="bg-peach rounded-lg shadow-md p-4 mb-4">
            <input id="slider" type="range" min="0" max="100" class="slider appearance-none bg-rosyBrown h-3 rounded-lg w-full" />
        </div>

        <!-- Buttons -->
        <div class="flex justify-center space-x-4">
            <button class="btn-play bg-sunset hover:bg-rosyBrown text-oxfordBlue font-bold py-2 px-4 rounded-lg">Play</button>
            <button class="btn-add-to-playlist bg-sunset hover:bg-rosyBrown text-oxfordBlue font-bold py-2 px-4 rounded-lg">Add to Playlist</button>
            {% if premium %}
            <button class="btn-download bg-sunset hover:bg-rosyBrown text-oxfordBlue font-bold py-2 px-4 rounded-lg">Download</button>
            {% endif %}
            <a href="{% url 'manageplaylist:manage-playlist'%}"><button class="btn-back bg-sunset hover:bg-glaucous text-oxfordBlue font-bold py-2 px-4 rounded-lg">Kembali</button></a>
        </div>

        <!-- Add to Playlist Modal -->
        <div id="addToPlaylistModal" class="modal hidden">
            <div class="modal-content bg-peach rounded-lg shadow-md p-4">
                <span class="close">&times;</span>
                <h2 class="text-xl font-bold text-center text-oxfordBlue mb-4">ADD SONG TO USER PLAYLIST</h2>
                <form id="addToPlaylistForm" action="{% url 'manageplaylist:add-song-to-playlist' detail.id_song %}" method="POST">
                    {% csrf_token %}
                    <label for="playlistDropdown" class="block text-sm font-bold text-oxfordBlue mb-2">Playlist:</label>
                    <select id="playlistDropdown" name="playlist" class="block w-full bg-glaucous text-oxfordBlue border border-glaucous rounded-lg px-4 py-2 focus:outline-none focus:bg-lightOrange focus:border-sunset">
                        <option value="" disabled selected>Pilih playlist...</option>
                        {% if playlists %}
                            {% for playlist in playlists %}
                            <option value="{{ playlist.id}}">{{playlist.playlist}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <button type="submit" class="btn-add-to-playlist-modal bg-sunset hover:bg-rosyBrown text-oxfordBlue font-bold py-2 px-4 rounded-lg mt-4 w-full">TAMBAH</button>
                </form>
            </div>
        </div>

        <!-- Download Confirmation Modal -->
        <div id="downloadConfirmationModal" class="modal hidden">
            <div class="modal-content bg-peach rounded-lg shadow-md p-4">
                <span class="close">&times;</span>
                <h2 class="text-xl font-bold text-center text-oxfordBlue mb-4">Download Confirmation</h2>
                <p class="text-center text-oxfordBlue">Berhasil mengunduh Lagu dengan judul 'Song1'!</p>
                <div class="flex justify-center mt-4">
                    <a href="#" class="btn-download-list bg-sunset hover:bg-rosyBrown text-oxfordBlue font-bold py-2 px-4 rounded-lg mr-2">KE DAFTAR DOWNLOAD</a>
                    <button class="btn-back-to-song bg-rosyBrown hover:bg-glaucous text-oxfordBlue font-bold py-2 px-4 rounded-lg">KEMBALI</button>
                </div>
            </div>
        </div>
    </div>

     <script>
        // Modal handling
        var addToPlaylistModal = document.getElementById("addToPlaylistModal");
        var downloadConfirmationModal = document.getElementById("downloadConfirmationModal");
        var addToPlaylistBtn = document.querySelector(".btn-add-to-playlist");
        var downloadBtn = document.querySelector(".btn-download");
        var closeModalBtns = document.querySelectorAll(".close");
        var backToSongBtn = document.querySelector(".btn-back-to-song");

        addToPlaylistBtn.addEventListener("click", function() {
            addToPlaylistModal.style.display = "block";
        });

        downloadBtn.addEventListener("click", function() {
            downloadConfirmationModal.style.display = "block";
        });

        closeModalBtns.forEach(function(btn) {
            btn.addEventListener("click", function() {
                addToPlaylistModal.style.display = "none";
                downloadConfirmationModal.style.display = "none";
            });
        });

        backToSongBtn.addEventListener("click", function() {
            downloadConfirmationModal.style.display = "none";
        });

        window.addEventListener("click", function(event) {
            if (event.target == addToPlaylistModal || event.target == downloadConfirmationModal) {
                addToPlaylistModal.style.display = "none";
                downloadConfirmationModal.style.display = "none";
            }
        });

        var addToPlaylistForm = document.getElementById("addToPlaylistForm");
        addToPlaylistForm.addEventListener("submit", function(event) {
            event.preventDefault();
            var selectedPlaylist = document.getElementById("playlistDropdown").value;
            alert("Berhasil menambahkan Lagu dengan judul 'Song1' ke '" + selectedPlaylist + "'!");
            addToPlaylistModal.style.display = "none";
        });
    </script>
</body>
</html>


{% endblock content %}